<div>
	<div class="group-container">
		<div class="group-heading"> {{user}}/{{repo}} Issues</div>
		<div>Issues retrieved using the Github API</div>
		<div *ngFor="let item of displayIssues">
			<div class="issue-container">
				<div><a href="{{item.url}}">{{item.title}}</a></div>
				<table>
					<tr>
						<td class="project-col">Description:</td>
						<td>{{item.body}}</td>
					</tr>
					<tr>
						<td>User:</td>
						<td>{{item.user}}</td>
					</tr>
					<tr>
						<td>Assignee:</td>
						<td>{{item.assignee}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>